{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://cdn.wallpapersafari.com/77/55/FoVknZ.jpg");
        }
        .center{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    <h1 align="center" style="color:red;font-size:32px;font-family:comic sans ms;"> 
        DESTRUCTION CAUSED IN 2020
    </h1>
    <hr style="border-color:orange;"> 
    <h2 style="color:green;font-size:30px;font-family:garamond;"> 
        1)NOVEL CORONA VIRUS:
        <p style="color:black;font-size:25px;font-family:times;">*The covid 19 panademic is ravaging the world economy
            <br/>
            *Economic Devastation: Unemployment and Disruption of Supply Chain Market 
            <br/>
            *Health Devastation: Anxiety and Depression
            <br/> 
            *never ending lockdown(worlds biggest lockdown)
            <br/>
            *Unemployability
            
        </p>
        <img src="{% static 'images/corona.jpg' %}" class="center"/>
        <a href ="https://www.worldometers.info/coronavirus/" >corona updates</a>
        
        <br/>
        2)JAKARTA FLOODS
        <p style="color:black;font-size:25px;font-family:times;">Flash floods occurred throughout the Indonesian capital of Jakarta and its metropolitan area on the early hours of 1 January 2020, due to the overnight rain which dumped nearly 400 millimetres (15 in) of rainwater, causing the Ciliwung and Cisadane rivers to overflow.
        </p>
        <a href ="https://www.cnn.com/2020/01/02/asia/jakarta-floods-intl/index.html" class="center"/>jakarta floods</a>
        3)BEIRUT BLAST
        <p style="color:black;font-size:25px;font-family:times;">The explosion overturned cars and stripped steel-framed buildings of their cladding. Within the port area, the explosion destroyed a section of shoreline and left a crater roughly 124 m (407 ft) in diameter and 43 m (141 ft) in depth. Witnesses said homes as far as 10 kilometers (6 miles) away were damaged by the blast, and up to 300,000 people were left homeless by the explosion.
        </p>
        <a href ="https://en.wikipedia.org/wiki/2020_Beirut_explosions" class="center"/>beirut blast</a>
        4)VIZAG GAS LEAK(India)
        <p style="color:black;font-size:25px;font-family:times;">As per the reports, at least 11 persons, including two senior citizens and an 8-year-old girl, died and over 5,000 people fell sick after an alleged gas leak from a chemical plant in Vizag on Thursday early morning. As per reports, the leakage happened around 3am at LG Polymers industry at RR Venkatapuram
        </p>
        5)LOCUSTUS ATTACK(India)
        <p style="color:black;font-size:25px;font-family:times;">Crops and vegetation in several Indian states have been threatened by humongous swarms of desert locust known to be the most dangerous of the migratory pests in the world.
            <img src="{% static 'images/locustus.jpg' %}" class="center"/>
            <a href ="https://www.thehindu.com/sci-tech/agriculture/locust-attack-in-india/article31729025.ece" class="center"/>know more</a>
        </p>
        6)CELEBRITIES LOST
        <p style="color:black;font-size:25px;font-family:times;">we lost many artists in the this yr ;-( 
            <br/>
            Chadwick Boseman(colon cancer),
            sushant singh Rajput(suicide),
            pranab mukherjee,
            Irrfan khan,
            Rishi kapoor
            <br/>
            <img src="{% static 'images/celebs.jpg' %}" class="center"/>
             for detailed list click below link 
             <a href ="https://www.msn.com/en-in/entertainment/celebrity-news/remembering-indian-celebrities-we-lost-in-2020/ss-BB185GT6#:~:text=The%20Indian%20film%20and%20television%20industry%20lost%20some,all%20the%20stars%20who%20passed%20away%20this%20year." class="center"/>click here </a>
        </p>

          

</body>
</html>