{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myths</title>
</head>
<style>
    body{
        background-image: url("https://cdn.wallpapersafari.com/77/55/FoVknZ.jpg");
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<body>
    <h1 align="center" style="color:Blue;font-size:25px;"> 
        MYTHS REGARDING 2020
    </h1> 
    <hr style="border-color:orange;"> 
    <h3 align="center" style="color:red;font-size:23px;">
        Nostradamus predictions for 2020 – the world will change
    </h3>
    
    
    <h3 align="center" style="color:black;font-size:23px;font-family:bookman;"> 
       WHO IS THIS  NOSTRADAMUS?
    </h3>
    <img src="{% static 'images/nostrodomous.jpg' %}" class="center"/>
    <a href ="https://wisehoroscope.org/nostradamus-2020/" >click here for more details-nostrodomous</a> 
    <p style="color:black;font-size:23px;font-family:times new roman;"> This guy predictions about future amazed every one!!!

        He was born on late 1950's ,was a famous French physician, kabbalist and pharmacist.
        He predicted about worldwar 2 .... before its existance, and he predict about 2020 too
        
    </p>
    <h4 style = "font-family:verdana;">

        Below are the most important nostradamus predictions for 2020
        </h4>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        1)NORTH KOREA AND SOUTH KOREA WILL MERGE
        <p> North and south korea will unite, and leader Kim Jong-un will be dethroned and will have to seek refuge in Russia.

            He is considered a tougher dictator than his father was, and his family has ruled North Korea for 65 years.
            
            Kim Jong-un became leader on December 17, 2011, after the death of his father.</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        2)SOLAR ENERGY WILL BE WIDELY USED
        <p>In 2020, solar technology could cover the needs of a significant global portion.

            This will help against rising energy costs and the impact of climate change.</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        3)COMMERCIAL SPACE TRAVEL
        <p>Nostradamus also predicted this, although mankind has been familiar with the idea of these journeys for several years.

            Companies dealing with this type of transport have already announced that they will be making these space trips and also have wish lists.</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        4)THE FIGHT AGAINST GLOBAL WARMING
        <p>Nostradamus believed in the possibility of a Hot War that could take place in 2020 due to global warming and dwindling resources.

            The biggest threat in the future will come from terrorists and biological attacks, he said.</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        5)THE US WILL BECOME INCREASINGLY UNRULY
        <p>This global power is expected to become unruly and incompetent starting with the year Trump will be installed on the president’s chair</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        6)FINANCIAL DIFFICULTIES FOR ITALY
        <p>Nostradamus’ forecasts also involve Italians.

            Italy may face financial difficulties, rising unemployment and credit, making this country the “epicenter” of a eurozone crisis.
            
            Revitalizing the economy will require sacrifices from Italians, but also from other EU members.</p>
    </p>
    <p style="color:green;font-size:23px;font-family:ludica bright;"> 

        7)CHINA AND THE GLOBAL ECONOMIC IMBALANCE
        <P>Nostradamus also wrote about China and the move that this state will make for the sake of the global economic balance.

            Will China become the new superpower as Baba Vanga predicted?
            
            It seems that the Chinese yen is also about to become the new global currency.</P>
    </p>
    


</body>

</html>