{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pros</title>
</head>
<style>
    body{
        background-image: url("https://cdn.wallpapersafari.com/77/55/FoVknZ.jpg");
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<body>
   <h1 align="center" style="color:red;font-size:32px;font-family:comic sans ms;"> 
       2020 HAS ITS OWN ADVANTAGES TOO!!
   </h1>
   <hr style="border-color:orange;"> 
   <h2 style="color:green;font-size:30px;font-family:garamond;"> 
       1)Nature got healed
       <p style="color:black;font-size:25px;font-family:times;"> Nature Reclaims Its Glory, Ozone Layer Heals, Amidst Coronavirus Lockdown
        the protective layer up there, the ozone layer has also started healing itself. Some satellite pictures have shown that the hole in the ozone layer above Antarctica is recovering fast causing positive changes in the atmospheric circulation.
       </p>
       <img src="{% static 'images/nature.jpg' %}" class="center"/>
       <a href="https://www.indiatoday.in/education-today/gk-current-affairs/story/covid-19-4-vital-environmental-changes-evidenced-in-india-since-lockdown-1673726-2020-05-02" class="center"/>tap here </a> 
       </br>
       2)valueble time to enhance skills
       <p style="color:black;font-size:25px;font-family:times;"> Especillay for students it's a good time
           to utilse to learn and enhance about many technologies
           <br/>
           course links are described below(cse)
       </p>
       <a href ="https://www.youtube.com/watch?v=s6LrBex9NPA" class="center"/>click here</a> 

       </br>
       3)importance of security
       <p style="color:black;font-size:25px;font-family:times;">During this lock down we saw many hackers
           came to limelight 
           <br/>
           here are few cases
        </p>
        <a href ="https://timesofindia.indiatimes.com/business/india-business/in-92-days-india-lost-rs-128-crore-in-card-online-fraud/articleshow/74571025.cms" class="center">click here1- to know more</a>
        <a href ="https://www.cyber-observer.com/cyber-news-29-statistics-for-2020-cyber-observer/" class="center"/>click here2-to know more</a> 
       </br>
       4)Bushes fire in Australia stopped after few months
       <img src="{% static 'images/australia.jpg' %}" class="center"/>
       <a href ="https://www.ndtv.com/topic/australia-fire" class="center"/>click here -australia on fire</a>
       </br>
       5)online learning
       <p style="color:black;font-size:25px;font-family:times;"> we ever recognized  online learning apps importance
           ZOOM,WEBEX etc.,now ZOOM bagged 15 million downloads
       </p>
       6)Finally china apps gone!!
       <a href ="https://timesofindia.indiatimes.com/business/india-business/tiktok-shareit-cam-scanner-list-of-59-chinese-apps-banned-by-india/articleshow/76694782.cms" class="center"/>china apps</a>
   </h2>
</body>
</html>